# Comparative analysis of kids entering care in Nottingham 2011-2016
#### Data source: https://www.gov.uk/government/collections/statistics-looked-after-children

Import pandas

In [1]:
import pandas as pd

Import datasets

In [2]:
yr11 = pd.read_csv("data/2011.csv");

In [3]:
yr12 = pd.read_csv("data/2012.csv");

In [4]:
yr13 = pd.read_csv("data/2013.csv");

In [5]:
yr14 = pd.read_csv("data/2014.csv");

In [6]:
yr15 = pd.read_csv("data/2015.csv");

In [7]:
yr16 = pd.read_csv("data/2016.csv");

Edit column names by year, leaving geographical ID on which to merge

In [8]:
yr11.columns = [str(col) + '_11' for col in yr11.columns]

In [9]:
yr11 = yr11.rename(columns={'geog_c_11': 'geog_c'})

In [10]:
yr12.columns = [str(col) + '_12' for col in yr12.columns]

In [11]:
yr12 = yr12.rename(columns={'geog_c_12': 'geog_c'})

In [12]:
yr13.columns = [str(col) + '_13' for col in yr13.columns]

In [13]:
yr13 = yr13.rename(columns={'geog_c_13': 'geog_c'})

In [14]:
yr14.columns = [str(col) + '_14' for col in yr14.columns]

In [15]:
yr14 = yr14.rename(columns={'geog_c_14': 'geog_c'})

In [16]:
yr15.columns = [str(col) + '_15' for col in yr15.columns]

In [17]:
yr15 = yr15.rename(columns={'geog_c_15': 'geog_c'})

In [18]:
yr16.columns = [str(col) + '_16' for col in yr16.columns]

In [19]:
yr16 = yr16.rename(columns={'geog_c_16': 'geog_c'})

Merge datasets

In [21]:
merged = pd.merge(yr11, yr12, on='geog_c')

In [22]:
merged = pd.merge(merged, yr13, on='geog_c')

In [23]:
merged = pd.merge(merged, yr14, on='geog_c')

In [24]:
merged = pd.merge(merged, yr15, on='geog_c')

In [25]:
merged = pd.merge(merged, yr16, on='geog_c')

merged.head()

The DfE's Local Authority Interactive Tool (LAIT) provides the option to compare local authorities with their 'statistical neighbours', areas that are similar in terms of: mean weekly pay (gross); % of pupils known to be eligible for FSM; % of vehicles that are three yeras old or less; % dependent children in household with occupancy rating of +2 or more; % dependent children in overcrowded household; and % dependent children in households with 2 or more cars.

Isolate Nottingham (geog_c = 892) and its 10 'statistical neighbours': Manchester (352); Wolverhampton (336); Sandwell (333); Bristol (801); Southampton (852); Coventry (331); Birmingham (330); Salford (355); Derby (831); and Kingston upon Hull (810).

In [46]:
stat_nbhs = ['892', '352', '336', '333', '801', '852', '331', '330', '355', '831', '810']

In [51]:
nbhs = merged[merged['geog_c'].isin(stat_nbhs)]
nbhs

,New_geog_code_11,geog_l_11,geog_c,geog_n_11,CLA_started2011_11,CLA_taken2011_11,SCLA_male_11,SCLA_female_11,SCLA_U1_11,SCLA_1to4_11,...,SCLA_ICO_16,SCLA_FCO_16,SCLA_POG_16,SCLA_S20_16,SCLA_UPP_16,SCLA_SEPO_16,SCLA_UCAO_16,SCLA_ONCT_16,SCLA_PACE_16,SCLA_SORR_16
45,E08000025,LA,330,Birmingham,603,254,303,299,148,128,...,127,x,0,367,168,x,0,x,x,0
46,E08000026,LA,331,Coventry,214,59,104,109,53,41,...,x,x,0,119,70,x,0,8,0,0
48,E08000028,LA,333,Sandwell,221,61,120,100,58,49,...,40,x,0,114,x,x,0,x,0,0
51,E08000031,LA,336,Wolverhampton,231,70,119,112,49,67,...,30,x,0,79,x,0,0,x,x,0
59,E08000003,LA,352,Manchester,530,199,279,252,90,114,...,120,x,x,221,36,9,x,17,x,0
62,E08000006,LA,355,Salford,242,115,122,119,55,70,...,73,x,0,x,20,x,0,x,0,0
82,E06000023,LA,801,"Bristol, City of",268,96,137,131,51,45,...,65,x,x,222,34,x,0,x,0,0
89,E06000010,LA,810,"Kingston Upon Hull, City of",237,88,128,109,61,59,...,39,x,0,181,x,x,0,x,0,0
101,E06000015,LA,831,Derby,183,77,97,86,41,40,...,42,x,0,76,x,x,0,12,0,0
111,E06000045,LA,852,Southampton,173,63,101,72,45,47,...,47,x,0,119,26,x,0,x,0,0
143,E06000018,LA,892,Nottingham,247,48,126,121,51,58,...,65,7,0,153,18,x,x,8,0,0